---
import Background from "../components/Background.astro";
import Navbar from "../components/Navbar.astro";

const currentDate = new Date();
const dayNumber = currentDate.getDate();
const monthNumber = currentDate.toLocaleString("en-US", { month: "short" });
---

<div
  id="loader-wrapper"
  class="flex fixed bg-neutral-950 justify-center items-center w-full h-full flex-col"
>
  <div class="loader"></div>
  <div class="text-white mt-5 pl-2">Loading...</div>
</div>
<div id="landing" class="font-display size-full">
  <Background />
  <Navbar />
  <main class="size-full">
    <div class="text-white absolute flex flex-row top-[18%] right-[20%]">
      <div class="inline-block">
        <span class="text-8xl font-display font-extrabold">{dayNumber}</span>
      </div>

      <div class="flex flex-col justify-center w-fit">
        <span class="text-lg block font-extrabold">{monthNumber}</span>
        <span class="text-md">Available</span>
        <span class="text-md">for work</span>
      </div>
    </div>

    <div
      class="pt-[75%] pl-[5%] pr-[5%] flex justify-evenly flex-col sm:pt-[50%] lg:pt-[35%] 2xl:pt-[25%]"
    >
      <div>
        <div>
          <span class="text-[#f3f0b8] font-extrabold text-xl sm:text-2xl"
            >FULL STACK
          </span>
        </div>
        <div class="line">
          <span
            class="font-bebas text-extrabold text-[#fffa9d] text-8xl sm:text-9xl"
            >WEB</span
          >
        </div>
        <div class="line">
          <span
            class="font-bebas text-extrabold text-[#fffa9d] text-8xl sm:text-9xl"
            >DEVELOPER</span
          >
        </div>
      </div>
      <div
        class="text-white flex flex-col text-start w-full font-display mt-5 sm:text-xl lg:text-wrap"
      >
        <div class="uppercase text-end pr-1.5">I'm a full stack developer</div>
        <span class="uppercase text-right lg:w-1/2 lg:self-end">
          based in Gran Canaria. With one year of experience in the industry and
          a passion for web development. I keep learning and improving my skills
          every day.</span
        >
        <span class="uppercase"></span>
        <span class="uppercase"></span>
        <a
          href="mailto:alma.cruz.dev@gmail.com?subject=Job Offer"
          class="bg-[#f3f0b800] border-1 border-[#f3f0b8] text-[#f3f0b8] p-2.5 rounded-[50px] text-lg font-extrabold self-end mt-5 w-44 text-center cursor-pointer sm:w-52 sm:text-xl"
          >CONTACT ME</a
        >
      </div>
    </div>
    <div class="pt-[20vh] pl-[5%] pr-[5%] pb-0 text-start h-full">
      <section id="about-section" class="scroll-mt-28">
        <span class="line-about text-[#fffa9d] font-bebas text-7xl sm:text-8xl"
          >HELLO. I'M ALMA</span
        >
        <p class="text-white sm:text-xl lg:w-1/2 lg:text-wrap">
          I use my passion and skills to create digital experiences that are
          intuitive, efficient, and impactful, leveraging technology to solve
          real-world problems and enhance user interactions.
        </p>
      </section>
      <section id="works-section" class="mt-20 scroll-mt-28">
        <span class="uppercase text-[#fffa9d] text-2xl cursor-pointer"
          >Selected works</span
        >
        <div class="text-center mt-5">
          <span
            data-id="Edukami.ai"
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fffa9d] active:text-[#fffa9d]"
            >Edukami.ai</span
          >
        </div>
        <div class="text-center mt-5">
          <span
            data-id="Reboot Talent"
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fffa9d] active:text-[#fffa9d]"
            >Reboot Talent</span
          >
        </div>
        <div class="text-center mt-5">
          <span
            data-id="WISE-C"
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fffa9d] active:text-[#fffa9d]"
            >WISE-C</span
          >
        </div>
        <div class="text-center mt-5">
          <span
            data-id="AfricaNdoto Frontend"
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fffa9d] active:text-[#fffa9d]"
            >AfricaNdoto FrontEnd</span
          >
        </div>
        <div class="text-center mt-5">
          <span
            data-id="AfricaNdoto Backend"
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fffa9d] active:text-[#fffa9d]"
          >
            AfricaNdoto BackEnd</span
          >
        </div>
        <div class="text-center mt-5">
          <span
            data-id="Demons Defender"
            class="text-white font-bebas text-7xl cursor-pointer hover:text-[#fffa9d] active:text-[#fffa9d]"
          >
            Demons Defender</span
          >
        </div>
        <div class="flex justify-center">
          <a
            href="mailto:alma.cruz.dev@gmail.com?subject=Job Offer"
            class="bg-[#f3f0b800] border-1 border-[#f3f0b8] text-[#f3f0b8] p-2.5 rounded-[50px] text-lg font-extrabold self-end mt-5 w-44 cursor-pointer sm:w-52 sm:text-xl text-center"
            >CONTACT ME</a
          >
        </div>
      </section>
      <section id="contact-section" class="mt-20 pb-2">
        <div
          class="font-bebas text-[#f3f0b8] text-7xl flex flex-col sm:text-8xl lg:row-span-2"
        >
          <span>Let's</span>
          <span>contact</span>
        </div>
        <span class="text-white text-xl uppercase sm:text-2xl lg:h-fit"
          >I'm interested in</span
        >
        <div class="space-y-3 mt-5 w-full xl:w-1/2">
          <button class="uppercase bg-[#fffa9d] border-1 rounded-4xl w-fit p-2"
            >Frontend development</button
          >
          <button class="uppercase bg-[#fffa9d] border-1 rounded-4xl w-fit p-2"
            >Backend development</button
          >
          <button class="uppercase bg-[#fffa9d] border-1 rounded-4xl w-fit p-2"
            >Fullstack development</button
          >
          <button class="uppercase bg-[#fffa9d] border-1 rounded-4xl w-fit p-2"
            >Wordpress development</button
          >
          <button class="uppercase bg-[#fffa9d] border-1 rounded-4xl w-fit p-2"
            >Coffee</button
          >
        </div>

        <div
          class="flex justify-center mt-5 items-center space-x-5 lg:justify-start 2xl:justify-end"
        >
          <span class="text-white uppercase sm:text-xl"
            >Are you minding a project?</span
          ><a
            href="mailto:alma.cruz.dev@gmail.com?subject=Job Offer"
            class="bg-[#f3f0b800] border-1 border-[#f3f0b8] text-[#f3f0b8] p-2.5 rounded-[50px] text-lg font-extrabold self-end w-44 cursor-pointer sm:w-52 sm:text-xl text-center"
            >CONTACT ME</a
          >
        </div>

        <div class="w-full h-2 border-b-1 border-white mt-5 sm:mt-3"></div>
        <div
          class="mt-1 space-x-5 mb-5 text-white font-extrabold uppercase 2xl:flex 2xl:justify-end"
        >
          <span
            ><a
              class="btn line-btn-dark btn-icon btn-radius"
              href="/cv/AlmaCruzResume.pdf"
            >
              Resume
            </a>
          </span>
          <span
            ><a href="https://www.linkedin.com/in/almacrh/">Linkedin</a></span
          ><span><a href="https://github.com/AlmaCRH">Github</a></span>
        </div>
      </section>
    </div>
  </main>
</div>

<script>
  import jobsExperience from "../components/jobsExperience.js";
  const container = document.getElementById("landing");

  jobsExperience.forEach(
    (jobExperience: {
      title: string;
      img: string;
      text: string;
      link: string;
    }) => {
      const { title, img, text, link } = jobExperience;
      const cardWrapper = document.createElement("div");

      cardWrapper.classList.add(
        "work-card",
        "max-w-sm",
        "bg-white",
        "border",
        "border-gray-200",
        "rounded-lg",
        "shadow-sm",
        "dark:bg-[#121212]",
        "dark:border-[#121212]",
        "fixed",
        "top-1/2",
        "left-1/2",
        "transform",
        "-translate-x-1/2",
        "-translate-y-1/2"
      );
      cardWrapper.style.display = "none";

      cardWrapper.dataset.id = title;

      cardWrapper.innerHTML = `
      <img class="rounded-t-lg" src="${img}" alt="${title}" />
    <div class="p-5 bg-[#121212] rounded-lg">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">${title}</h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">${text}</p>
      <a href="${link}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-black bg-[#fffa9d] rounded-lg hover:bg-[#cbc887]">See the project</a>
    </div>
  `;

      container?.appendChild(cardWrapper);
    }
  );

  document.querySelectorAll("#works-section span").forEach((span) => {
    span.addEventListener("click", (e) => {
      e.stopPropagation();
      const id = (e.target as HTMLSpanElement).dataset.id;

      document.querySelectorAll(".work-card").forEach((card) => {
        card.style.display = "none";
      });
      const cardToShow = document.querySelector(`.work-card[data-id="${id}"]`);
      if (cardToShow) {
        cardToShow.style.display = "fixed";
      }
    });
  });

  window.addEventListener("click", (e) => {
    const showedCard = document.querySelector(".work-card:not(.hidden)");

    if (!showedCard?.contains(e.target as HTMLSpanElement)) {
      showedCard.style.display = "none";
    }
  });
</script>
