---
import jobsExperience from "../components/jobsExperience.js";
---

<div
  data-id="Edukami.ai"
  class="work-card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-[#121212] dark:border-[#121212] fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden"
>
  <img
    class="rounded-t-lg"
    src=`${jobsExperience[0].img}`
    alt=`${jobsExperience[0].title}`
  />
  <div class="p-5 bg-[#121212] rounded-b-lg">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
      {jobsExperience[0].title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {jobsExperience[0].text}
    </p>
    <a
      href=`${jobsExperience[0].link}`
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-black bg-[#fffa9d] rounded-lg hover:bg-[#cbc887]"
      >See the project</a
    >
  </div>
</div>
<div
  data-id="Reboot Talent"
  class="work-card work-card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-[#121212] dark:border-[#121212] fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden"
>
  <img
    class="rounded-t-lg"
    src=`${jobsExperience[1].img}`
    alt=`${jobsExperience[1].title}`
  />
  <div class="p-5 bg-[#121212] rounded-b-lg">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
      {jobsExperience[1].title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {jobsExperience[1].text}
    </p>
    <a
      href=`${jobsExperience[1].link}`
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-black bg-[#fffa9d] rounded-lg hover:bg-[#cbc887]"
      >See the project</a
    >
  </div>
</div>
<div
  data-id="WISE-C"
  class="work-card work-card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-[#121212] dark:border-[#121212] fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden"
>
  <img
    class="rounded-t-lg"
    src=`${jobsExperience[2].img}`
    alt=`${jobsExperience[2].title}`
  />
  <div class="p-5 bg-[#121212] rounded-b-lg">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
      {jobsExperience[2].title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {jobsExperience[2].text}
    </p>
    <a
      href=`${jobsExperience[2].link}`
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-black bg-[#fffa9d] rounded-lg hover:bg-[#cbc887]"
      >See the project</a
    >
  </div>
</div>
<div
  data-id="AfricaNdoto Frontend"
  class="work-card work-card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-[#121212] dark:border-[#121212] fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden"
>
  <img
    class="rounded-t-lg"
    src=`${jobsExperience[3].img}`
    alt=`${jobsExperience[3].title}`
  />
  <div class="p-5 bg-[#121212] rounded-b-lg">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
      {jobsExperience[3].title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {jobsExperience[3].text}
    </p>
    <a
      href=`${jobsExperience[3].link}`
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-black bg-[#fffa9d] rounded-lg hover:bg-[#cbc887]"
      >See the project</a
    >
  </div>
</div>
<div
  data-id="AfricaNdoto Backend"
  class="work-card work-card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-[#121212] dark:border-[#121212] fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden"
>
  <img
    class="rounded-t-lg"
    src=`${jobsExperience[4].img}`
    alt=`${jobsExperience[4].title}`
  />
  <div class="p-5 bg-[#121212] rounded-b-lg">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
      {jobsExperience[4].title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {jobsExperience[4].text}
    </p>
    <a
      href=`${jobsExperience[4].link}`
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-black bg-[#fffa9d] rounded-lg hover:bg-[#cbc887]"
      >See the project</a
    >
  </div>
</div>
<div
  data-id="Demons Defender"
  class="work-card work-card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-[#121212] dark:border-[#121212] fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden"
>
  <img
    class="rounded-t-lg"
    src=`${jobsExperience[5].img}`
    alt=`${jobsExperience[5].title}`
  />
  <div class="p-5 bg-[#121212] rounded-b-lg">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
      {jobsExperience[5].title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {jobsExperience[5].text}
    </p>
    <a
      href=`${jobsExperience[5].link}`
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-black bg-[#fffa9d] rounded-lg hover:bg-[#cbc887]"
      >See the project</a
    >
  </div>
</div>

<script>
  document.querySelectorAll("#works-section span").forEach((span) => {
    span.addEventListener("click", (e) => {
      e.stopPropagation();
      const id = (e.target as HTMLSpanElement).dataset.id;

      document.querySelectorAll(".work-card").forEach((card) => {
        card.classList.add("hidden");
      });
      const cardToShow = document.querySelector(`.work-card[data-id="${id}"]`);
      if (cardToShow) {
        cardToShow.classList.remove("hidden");
      }
    });
  });

  window.addEventListener("click", (e) => {
    const showedCard = document.querySelector(".work-card:not(.hidden)");

    if (!showedCard?.contains(e.target as HTMLSpanElement)) {
      showedCard?.classList.add("hidden");
    }
  });
</script>
